body 
{
   font-family: 'Special Elite',cursive;
   background: rgba(129, 49, 49, 0.89);
}

.header_div
{
    background: wheat;
    color: aqua;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: darkgray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(63, 63, 58);
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: bisque;
    line-height: 3;
    text-align: center;
    text-shadow: gray;
}